<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	 Este es mi Header
	<ui:composition>
		<hr />
		<center>
		<h1>====------------------====</h1>
			<h1>====Hola mundo====</h1>
		<h1>====------------------====</h1>
		</center>
		<hr />
	</ui:composition>
</h:body>
</html>
