<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title>#{pageTitleBean.title}</title>
    </h:head>
    <h:body>
    	<h2>Datos!</h2>
    	<h:form>
    	  La Persona es Menor de Edad
    	
    	   <h2>Tiene: #{personas.edad} años</h2> <br />
    	</h:form>
    </h:body>
</html>