<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title>Datos</title>
    </h:head>
    <h:body>
    	<h2>Datos!</h2>
    	
    	  
    	<h2>Tipo de Saludo: #{beanConApplicationScoped.saludo}</h2> <br />
    	
    
    
    	   
    	
    </h:body>
</html>