<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title>ApplicationScoped</title>
    </h:head>
    <h:body>
    	<h2>JSF!</h2>
    	<h:form>
    	  Saluda:<h:inputText value="#{beanConApplicationScoped.saludo}"></h:inputText>
    	  
    	   <h:commandButton value="Mostrar Saludo" action="MostrarSaludo"></h:commandButton>
    	</h:form>
    </h:body>
</html>